@import 'foundation'
@import 'settings/settings'

.no-bg
  background: transparent !important

.custom-pb
  padding-bottom: 10px !important

.tiny-text
  font-size: 12px

.text-uppercase
  text-transform: uppercase

.text-info
  display: block
  margin-bottom: 4px
  color: $dark-gray

.text-bold
  color: #434343
  font-size: 22px
  font-weight: 600

.basic-link
  text-decoration: underline
  color: #000

.title
  margin: 0
  color: $black
  font-size: 32px

.p
  width: 374px
  color: $black
  font-size: 16px
  line-height: 28px

.p--bold
  font-weight: 600

.p--light
  width: 460px
  color: #61697D

.p--max
  width: 100%
  color: #61697D

.link
  color: $accent
  text-decoration: underline
  &:hover
    color: $purple

.btn-success
  padding: 15px 26px
  display: inline-block
  color: $white
  font-size: 16px
  font-weight: 600
  border-radius: 4px
  background: $accent
  cursor: pointer
  &:hover
    background-color: $purple

h1
  color: #FFF
  font-size: 30px
  font-weight: 600

h2, h3, h4
  color: #333333
  font-size: 26px
  font-weight: 600

hr
  border-bottom: 1px solid #EEEEEE

.header
  padding-left: 0 !important
  padding-right: 0 !important
  padding-bottom: 0 !important
  background: $gray

.main-pattern
  height: 21px !important
  max-height: 21px
  svg
    height: 21px

table.button
  margin: 0
  text-align: left
  border: none
  table
    td
      border: none
      a
        font-size: 22px
        font-weight: 600